Beginner level: loop fundamentals

Print numbers from 1 to 10 using a for loop

In [2]:
for i in range(1,11):
    print (i)

1
2
3
4
5
6
7
8
9
10

- Use a while loop to count down from 10 to 1.

In [15]:
count=10
while count>0:
    print(count)
    count-=1

10
9
8
7
6
5
4
3
2
1

Loop through a list of fruits and print each one

In [ ]:
lis=["mango","apple","banana"]
for i in lis:
    print(i)

mango
apple
banana

In [35]:
count=0
while count<len(lis):
    print(lis[count])
    

    count+=1

mango
apple
banana

Use a loop to sum all even numbers from 1 to 100.

In [17]:
v=0
for i in range(2,102,2):
    v+=i
print(v)

2550

In [20]:
count=0
while count<100:
   count+=i
print(count)

100

In [21]:
v='Wassce'
for i in v:
    print(i)

W
a
s
s
c
e

Use a loop to print all multiples of 5 from 5 to 100.

In [2]:
for i in range(5,105,5):
    print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

Loop through numbers 1–50, printing “Fizz” if divisible by 3, “Buzz” if divisible by 5, and “FizzBuzz” if both.

In [2]:
for i in range(1,50):
   if i%3==0 and i%5==0:
      print(f"{i}'FizzBuzz'")
   elif i%3==0:
      print(f'{i}"Fizz"')
   elif i%5==0:
      print(f'{i}"buzz"')

3"Fizz"
5"buzz"
6"Fizz"
9"Fizz"
10"buzz"
12"Fizz"
15'FizzBuzz'
18"Fizz"
20"buzz"
21"Fizz"
24"Fizz"
25"buzz"
27"Fizz"
30'FizzBuzz'
33"Fizz"
35"buzz"
36"Fizz"
39"Fizz"
40"buzz"
42"Fizz"
45'FizzBuzz'
48"Fizz"

In [134]:
end=""
for i in range(1,11):
    for j in range(1,11):
        v=i*j
        print(f"{i} x {j}={v}")
    print()

1 x 1=1
1 x 2=2
1 x 3=3
1 x 4=4
1 x 5=5
1 x 6=6
1 x 7=7
1 x 8=8
1 x 9=9
1 x 10=10

2 x 1=2
2 x 2=4
2 x 3=6
2 x 4=8
2 x 5=10
2 x 6=12
2 x 7=14
2 x 8=16
2 x 9=18
2 x 10=20

3 x 1=3
3 x 2=6
3 x 3=9
3 x 4=12
3 x 5=15
3 x 6=18
3 x 7=21
3 x 8=24
3 x 9=27
3 x 10=30

4 x 1=4
4 x 2=8
4 x 3=12
4 x 4=16
4 x 5=20
4 x 6=24
4 x 7=28
4 x 8=32
4 x 9=36
4 x 10=40

5 x 1=5
5 x 2=10
5 x 3=15
5 x 4=20
5 x 5=25
5 x 6=30
5 x 7=35
5 x 8=40
5 x 9=45
5 x 10=50

6 x 1=6
6 x 2=12
6 x 3=18
6 x 4=24
6 x 5=30
6 x 6=36
6 x 7=42
6 x 8=48
6 x 9=54
6 x 10=60

7 x 1=7
7 x 2=14
7 x 3=21
7 x 4=28
7 x 5=35
7 x 6=42
7 x 7=49
7 x 8=56
7 x 9=63
7 x 10=70

8 x 1=8
8 x 2=16
8 x 3=24
8 x 4=32
8 x 5=40
8 x 6=48
8 x 7=56
8 x 8=64
8 x 9=72
8 x 10=80

9 x 1=9
9 x 2=18
9 x 3=27
9 x 4=36
9 x 5=45
9 x 6=54
9 x 7=63
9 x 8=72
9 x 9=81
9 x 10=90

10 x 1=10
10 x 2=20
10 x 3=30
10 x 4=40
10 x 5=50
10 x 6=60
10 x 7=70
10 x 8=80
10 x 9=90
10 x 10=100

In [ ]:
student={"Ama":40,"Yaw":50,"Afei":70,"Kofi":90}
for i,j in student.items():
    if j>=50:
        
         print(v)

TypeError: argument of type 'int' is not iterable

Loop through a list of student scores and count how many passed (score ≥ 50).

In [89]:
scores=[26,80,50,80,99,85,30]
total_passed=[]
for i in scores:
    if i>=50:
        total_passed.append(i)
print(total_passed)
print(f'total passed:{len(total_passed)}')

[80, 50, 80, 99, 85]
total passed:5

Given a list of names, print only those starting with a vowel.

In [120]:
lis=["Ama","Yaw","Kwadwo","Tetteh","Afia"]
v= ("a","i","e","o","u")
for i in lis:
    if i[0].lower() in v:
        print(i)

Ama
Afia

5.	Loop through a range of years and print leap years.

In [141]:
for i in range(2016,2035):
    if i%4==0:
        print(i)

2016
2020
2024
2028
2032

6.	Use a loop to remove duplicates from a list manually (no set or library functions)

In [7]:
list=[12,12,12,33,55,67,55,88,77]
non_dupli=[ ]
for i in list:
    if i not in non_dupli:
        non_dupli.append(i)
print(non_dupli)

[12, 33, 55, 67, 88, 77]

1.	Loop through a dictionary of student names and marks, then sort and print the top three performers.

In [2]:
nb={"Kofi":23,"Ama":67,"yaw":80,"Afia":90}
g=[]

for i,j in nb.items():
        g=print(f'{i}:{j}')
        sorted(g)

Kofi:23

TypeError: 'NoneType' object is not iterable

In [ ]:
lisa=[12, "hello", 3.4, True, "2024"]
for i in lisa:
    if i/2=2: